<%= form_with(model: import_columns_definition, html: { class: "pure-form pure-form-aligned" }) do |form| %>
  <% if import_columns_definition.errors.any? %>
    <div id="error_explanation" class="pure-alert pure-alert-error">
      <h2><%= pluralize(import_columns_definition.errors.count, "error") %> prohibited this import columns definition from being saved:</h2>
      <ul>
        <% import_columns_definition.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <fieldset>
    <div class="pure-control-group">
      <%= form.label :account_id %>
      <%= form.select :account_id, options_from_collection_for_select(Account.all, :id, :name), {} %>
    </div>

    <div class="pure-control-group">
      <%= form.label :header %>
      <%= form.check_box :header %>
    </div>

    <div class="pure-control-group">
      <%= form.label :reversed %>
      <%= form.check_box :reversed %>
    </div>

    <div class="pure-control-group">
      <%= form.label :credit_sign %>
      <div style="display: inline-flex; align-items: center; gap: 5px;">
        <%= form.radio_button :credit_sign, 1, id: "credit_sign_positive" %>
        <%= form.label :credit_sign_positive, "+", class: "pure-checkbox", style: "width: min-content;", for: "credit_sign_positive" %>
        <%= form.radio_button :credit_sign, -1, id: "credit_sign_negative" %>
        <%= form.label :credit_sign_negative, "-", class: "pure-checkbox", style: "width: min-content;", for: "credit_sign_negative" %>
      </div>
    </div>

    <table class="pure-table">
      <thead>
        <tr>
          <th>Column</th>
          <th>Record</th>
        </tr>
      </thead>
      <tbody>
        <% import_columns_definition.attributes.keep_if { |a| a =~ /_column\Z/ }.each_with_index do |field, value| %>
          <tr>
            <td><%= value %></td>
            <td><%= field %></td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <div class="pure-controls">
      <%= form.submit class: "pure-button pure-button-primary" %>
    </div>
  </fieldset>
<% end %>
