<p style="color: green"><%= notice %></p>

<% content_for :title, "Categories" %>

<h1>Categories</h1>

<table id="categories" class="pure-table pure-table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @categories.each do |category| %>
      <tr id="<%= dom_id category %>">
        <td><%= category.name %></td>
        <td><%= category.description %></td>
        <td><%= link_to "Show this category", category_path(category) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<div style="margin-top: 1rem">
  <%= link_to "New category", new_category_path, class: "pure-button" %>
</div>
