<%# The <tr> now serves as the target for Turbo Stream replacements %>
<tr class="transaction-row" id="<%= dom_id(transaction, transaction.persisted? ? nil : 'new') %>" data-controller="dateinlocale">
  <%= form_for transaction, url: account_transaction_path(@account, transaction) do |form| %>
    <% transaction_presenter = TransactionPresenter.new(form, transaction, self) %>

    <td data-date="<%= transaction.date.iso8601 %>" data-dateinlocale-target="date">
      <%= transaction_presenter.date %>
    </td>

    <td>
      <%= transaction_presenter.description %>
    </td>

    <td>
      <%= transaction_presenter.category %>
    </td>

    <td>
      Other Party
    </td>

    <td class="currency <%= transaction.amount_pence.positive? ? 'positive' : 'negative' %>">
      <%= transaction_presenter.amount %>
    </td>

    <td class="currency <%= transaction.balance_pence.positive? ? 'positive' : 'negative' %>">
      <%# Balance - Only show for existing, saved transactions %>
      <%= humanized_money_with_symbol transaction.balance %>
    </td>

    <td>
      <%= form.submit "Save", class: "pure-button pure-button-primary" %>
    </td>
  <% end %> <%# form_for %>
</tr> <%# End of transaction row %>