<div id="<%= dom_id transaction %>">
  <p>
    <strong>Trx date:</strong>
    <%= transaction.trx_date %>
  </p>

  <p>
    <strong>Type:</strong>
    <%= transaction.type %>
  </p>

  <p>
    <strong>Creditor:</strong>
    <%= transaction.creditor_id %>
  </p>

  <p>
    <strong>Debitor:</strong>
    <%= transaction.debitor_id %>
  </p>

</div>
