<div id="<%= dom_id account %>" class="account-grid">
  <div class="pure-g">
    <div class="pure-u-1-6"><strong>Name:</strong></div>
    <div class="pure-u-1-4"><%= account.name %></div>
  </div>

  <div class="pure-g">
    <div class="pure-u-1-6"><strong>Account Number:</strong></div>
    <div class="pure-u-1-4"><%= account.account_number %></div>
  </div>

  <% if account.is_a? BankAccount %>
    <div class="pure-g">
      <div class="pure-u-1-6"><strong>Sort Code:</strong></div>
      <div class="pure-u-1-4"><%= account.sortcode %></div>
    </div>
  <% end %>

  <div class="pure-g" data-controller="dateinlocale" data-date="<%= @account.opening_date.iso8601 %>">
    <div class="pure-u-1-6"><strong>Opening Date:</strong></div>
    <div class="pure-u-1-4" data-dateinlocale-target="date"></div>
  </div>

  <div class="pure-g">
    <div class="pure-u-1-6"><strong>Opening Balance:</strong></div>
    <div class="pure-u-1-4"><%= humanized_money_with_symbol(account.opening_balance) %></div>
  </div>
</div>
