<p style="color: green"><%= notice %></p>

<% content_for :title, "Accounts" %>

<h1>Accounts</h1>

<table id="accounts" class="pure-table pure-table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Account Number</th>
      <th>Sort Code</th>
      <th>Opening Date</th>
      <th>Opening Balance</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @accounts.each do |account| %>
      <tr id="<%= dom_id account %>">
        <td><%= account.name %></td>
        <td><%= account.account_number %></td>
        <td><%= account.sortcode %></td>
        <td><%= account.opening_date.to_s %></td>
        <td><%= humanized_money_with_symbol(account.opening_balance) %></td>
        <td><%= link_to "Show this account", account_path(account) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<div style="margin-top: 1rem">
  <%= link_to "New account", new_account_path, class: "pure-button" %>
</div>

