<%= render "layouts/notice", notice: notice %>

<%= render 'accounts/account', account: @account %>

<div>
  <%= link_to "Edit this account", edit_account_path(@account) %>
  <%= link_to "Back to accounts", accounts_path %>

  <%= button_to "Destroy this account", account_path(@account), method: :delete, class: "pure-button" %>
</div>

<h2>Transactions</h2>

<%# Button to trigger adding a new row %>
<%= link_to "Add New Transaction", new_account_transaction_path(@account), data: { turbo_stream: true }, class: "pure-button pure-button-primary" %>
<br><br> <%# Add some spacing %>

<% if @account.transactions.any? %>
  <div class="transactions-container">
    <table id="trx-table" class="pure-table pure-table-bordered pure-table-striped">
      <thead>
      <tr>
        <th>Date</th>
        <th>Description</th>
        <th>Category</th>
        <th>Other Party</th>
        <th>Amount</th>
        <th>Balance</th>
        <th>Actions</th>
      </tr>
      </thead>
      <tbody id="transactions_tbody" data-controller="dateinlocale"> <%# Added ID %>
        <% @account.transactions.order(date: :desc, day_index: :desc).each do |transaction| %>
          <%= render "transactions/transaction_as_row", transaction: transaction, categories: @categories %> <%# Pass @categories %>
        <% end %> <%# @account.transactions.each do %>
      </tbody>
    </table>
  </div>
<% else %>
  <p>No transactions found for this account.</p>
<% end %>
