<%= render "layouts/notice", notice: notice %>

<%= render 'accounts/account', account: @account %>

<div>
  <%= link_to "Edit this account", edit_account_path(@account) %>
  <%= link_to "Back to accounts", accounts_path %>

  <%= button_to "Destroy this account", account_path(@account), method: :delete, class: "pure-button" %>
</div>

<h2>Transactions</h2>

<%# Button to trigger adding a new row %>
<%= link_to "Add New Transaction", new_account_transaction_path(@account), data: { turbo_stream: true }, class: "pure-button pure-button-primary" %>
<br><br> <%# Add some spacing %>

<% if @account.transactions.any? %>
  <div id="trx-div-table" class="div-table">
    <%# Header Row %>
    <div class="div-table-header div-table-row">
      <div class="div-table-col header-col">Date</div>
      <div class="div-table-col header-col">Description</div>
      <div class="div-table-col header-col">Category</div>
      <div class="div-table-col header-col">Other Party</div>
      <div class="div-table-col header-col">Amount</div>
      <div class="div-table-col header-col">Balance</div>
      <div class="div-table-col header-col">Actions</div>
    </div>

    <%# Body Rows %>
    <div id="transactions_div_body" class="div-table-body" data-controller="dateinlocale">
      <% @account.transactions.order(date: :desc, day_index: :desc).each do |transaction| %>
        <%= render "transactions/transaction_as_row", transaction: transaction, categories: @categories, account: @account %>
      <% end %>
      <div id="end-of-table-marker" class="div-table-row"></div> <%# Marker for Turbo Stream %>
    </div>
  </div>
<% else %>
  <p>No transactions found for this account.</p>
<% end %>
