<%= render "layouts/notice", notice: notice %>

<%= render 'accounts/account', account: @account %>

<div>
  <%= link_to "Edit this account", edit_account_path(@account) %>
  <%= link_to "Back to accounts", accounts_path %>

  <%= button_to "Destroy this account", account_path(@account), method: :delete, class: "pure-button" %>
</div>
